.grad {
  background-image: linear-gradient(to right, rgba(70,110,190,1), rgba(31,13,81,1));
}

.weather-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 12em;
  color: white;
  padding-left: .1em;
  padding-top: .25em;
  font-size:medium;
}

.weather-card p {
  font-size: .75em;
}


#current-weather h5{
  padding-bottom: .5em;
}

#current-weather p {
  font-size: .75em;
  line-height: .9em;
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  #forecast {
    flex-direction: column;
    align-content: center;
    margin: 0;
  }

  #forecast-weather h5 {
    margin-left: auto;
    margin-right: auto;
  }
}