.grad {
  background-image: linear-gradient(to right, rgba(70,110,190,1), rgba(31,13,81,1));

}

.weather-card {
  width: 10em;
  background-color: rgba(55,70,89,1);
  color: white;
  padding-left: .25em;
  padding-top: .25em;
  margin-bottom: 1em;
  font-size: small;
  padding-left: ;
}

.weather-card p {
  font-size: .75em;
}

#current-weather h5{
  padding-bottom: .5em;
}

#current-weather p {
  font-size: .75em;
  line-height: .9em;
}